<div class="film-list">


  <div class="table">

    <div class="table--toolbar">

      <div class="toolbar--item">
        <div class="search-input">
          <input type="text" class="form--control" placeholder="Name">
          <i class="fas fa-search"></i>
        </div>

      </div>

      <div class="toolbar--item">
        <select class="form--control">
          <option disabled selected>Genre</option>
          <option>One</option>
          <option>Two</option>
          <option>Three</option>
        </select>
      </div>

      <div class="toolbar--item">
        <select class="form--control">
          <option disabled selected>Premiere Year</option>
          <option>One</option>
          <option>Two</option>
          <option>Three</option>
        </select>
      </div>

    </div>

    <div class="table--head">
      <div class="table--cell">
        Name
        <app-sort-icon></app-sort-icon>
      </div>
      <div class="table--cell">Season</div>
      <div class="table--cell">Network</div>
      <div class="table--cell">
        Premiere
        <app-sort-icon [decrease]="false"></app-sort-icon>
      </div>
    </div>

    <div class="table--row" *ngFor="let film of films">
      <div class="table--cell">
        {{film?.name}}
        <div class="cell--tags">
          <span *ngFor="let tag of film?.tags" class="tag" [ngClass]="tagClass(tag)">{{tag}}</span>
        </div>
      </div>
      <div class="table--cell">
        {{film?.season}}
      </div>
      <div class="table--cell">
        {{film?.network}}
      </div>
      <div class="table--cell">
        {{film?.premiere | date: 'dd.MM.yyyy'}}

      </div>
    </div>
  </div>


</div>

<hr>




