<div class="film-list">

  <div class="table--head">
    <div class="table--cell">Name</div>
    <div class="table--cell">Season</div>
    <div class="table--cell">Network</div>
    <div class="table--cell">Premiere</div>
  </div>

  <div class="table--row" *ngFor="let film of films">
    <div class="table--cell">
      {{film?.name}}
      <div class="cell--tags">
        <span *ngFor="let tag of film?.tags" class="tag" [ngClass]="tagClass(tag)">{{tag}}</span>
      </div>
    </div>
    <div class="table--cell">
      {{film?.season}}
    </div>
    <div class="table--cell">
      {{film?.network}}
    </div>
    <div class="table--cell">
      {{film?.premiere | date: 'dd.MM.yyyy'}}
    </div>
  </div>

</div>

<hr>




