<form class="filters--toolbar" [formGroup]="form">
  <div class="toolbar--item">
    <div class="search-input">
      <input type="text" class="form--control" placeholder="Name" formControlName="name">
      <i class="fas fa-search"></i>
    </div>
  </div>
  <div class="toolbar--item">
    <select class="form--control" formControlName="tags">
      <option disabled selected [ngValue]="null">Genre</option>
      <option [ngValue]="null">- None -</option>
      <option
        *ngFor="let genre of lookup?.genres"
        [ngValue]="genre">
        {{genre | titlecase}}
      </option>
    </select>
  </div>
  <div class="toolbar--item">
    <select class="form--control" formControlName="premiere">
      <option disabled selected [ngValue]="null">Premiere Year</option>
      <option [ngValue]="null">- None -</option>
      <option
        *ngFor="let year of lookup?.years"
        [ngValue]="year">
        {{year}}
      </option>
    </select>
  </div>
</form>
